<section>
    <div class="listen">
        <div class="image">
            
        </div>

        <div class="listen__content">
            <div class="titleMission"><h1>F.A.Q. Ovvero, domande più frequenti.</h1></div>
            <div class="questionBlock">
                <div class="question"><p>TU: E' richiesto un livello minimo?</p></div>
                <div class="answer"><p>NOI: Assolutamente no, abbiamo anche un gruppo che non corre ma cammina!</p></div>
            </div>
            <div class="questionBlock">
                <div class="question"><p>TU: Per venire è necessario iscriversi?</p></div>
                <div class="answer"><p>NOI: No, puoi anche decidere di venire 1 minuto prima del ritrovo!</p></div>
            </div>
            <div class="questionBlock">
                <div class="question"><p>TU: Questa è un altra domanda?</p></div>
                <div class="answer"><p>NOI: Si, è un'altra domanda</p></div>
            </div>
        </div>
    </div>
</section>
