<footer>
    <nav>
        <div>
            <a href="#">Schia</a>
            <a href="#">Escursione al lago santo</a>
            <a href="#">In canoa a Levanto</a>
            <a href="#">...</a>
        </div>

        <div>
            <a href="#">Evento con Saucony ../..</a>
            <a href="#">Evento con Saucony Sala Baganza</a>
            <a href="#">Corsa a ...</a>
            <a href="#">FAQ</a>
        </div>

        <div>
            <a href="https://www.instagram.com/runningclubparma?igsh=emdyYnVweDc1N2t5">PER RIMANERE AGGIORNATX: INSTAGRAM</a>
        </div>
        
    </nav>

    <div>
        <span>&copy; 2024 Running Club Parma</span>
        <span>Altra scritta<strong>Scritta</strong></span>
    </div>
</footer>