<section class="newsletter">
    <div class="listen__content">
        <div class="titleMission"><h1>La tua opinione conta!</h1></div>
        <p>Lasciaci un tuo feedback, un suggerimento per la prossima attività da fare insieme o qualsiasi cosa che può esserci utile per migliorare quello che facciamo.</p>
        <p>Saremo contenti di leggere la tua opinione.</p>
    </div>
    <form>
        <label for="email">Dicci la tua!</label>
        <input type="text" name="email" id="email" class="input_email" required placeholder="">  
        <input type="submit" value="Invia" class="submit">
    </form>
</section>
