@import "../../../styles/variables";




.newsletter {
    background-color: $gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    .listen__content {
        display: flex;
        text-align: center;
        padding: 10px;
        flex-direction: column;
        gap: 1rem;
        color: $white;
    
        h2 {
            font-weight: 500;
        }
    
        p {
            font-size: .9rem;
            font-weight: 200;
            line-height: 1.5rem;
        }
    
        a {
            align-self: start;
            font-weight: 100;
            font-size: 1rem;
            text-decoration: none;
            color: $white;
            border: 1px solid $white;
            padding: .7rem 1.5rem;
            transition: background-color .7s ease;
    
            &:hover {
                background-color: $white;
                color: $beige;
            }
        }
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 2rem;
            display: flex;
    flex-direction: column;

        label {
            color: $white;
            font-size: 1.1rem;
            font-weight: 500;
        }

        .input_email {
            padding: .5rem;
            font-size: .9rem;
            outline: none; 
            border: 1px solid $beige-2;
            background-color: $gray;

            &:focus, &:hover, &:active {
                border: 3px solid $beige-2;
            }

            &::placeholder {
                color: $beige-2;
                font-weight: 200;
            }
        }

        .submit {
            padding: .5rem;
            background-color: $beige-2;
            border: none;
        }
    }
}

@media (min-width: 768px) {
    .newsletter {
        form {
            height: 30vh;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            label {
                margin-right: 3rem;
                font-size: 1.5rem;
            }

            .input_email {
                width: 15rem;
            }

            .submit {
                padding: .6rem 2rem;
            }
        }
    }
}

@media (min-width: 1024px) {
    .newsletter {
        form {
            .input_email {
                font-size: 1rem;
                padding: .5rem 1rem; 
            }
        }
    }
}