@import "../../../styles/variables";

main {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    background: url(../../../../public/images/immagine1.jpg) no-repeat center center / cover;

    ng-icon {
        color: $white;
    }

    .title{
        padding: 20px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $white;
        padding: 1rem .5rem;

        .header-left {

            div {
                display: flex;
                align-items: center;
                gap: .3rem;

                .header-left__menu {
                    font-size: 2rem;
                    color: $black;
                    position: relative;
                    z-index: 2;

                    ng-icon {
                        font-size: 2.3rem;
                    }
                }

                .header-left__headset {

                    ng-icon {
                        color: $white;
                        font-size: 2rem;
                    }
                }

                h1 {
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: $white;
                }
            }

            .navegation {
                color:white;
                
                display: none;
            }
        }

        .header-right {

            .header-right__login,
            .btn {
                display: none;
            }

            .header-right__networks {
                display: flex;
                align-items: center;
                gap: .5rem;

                ng-icon {
                    font-size: 1rem;

                    &:last-child {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    .banner {
        font-size: large;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: $white;
        padding: 0 1rem;
        margin: auto auto;
        padding:2px;

        h3 {
            font-weight: 300;
        }

        h2 {
            font-weight: 500;
            letter-spacing: 1px;
        }

        a {
            position: absolute;
            top: 7rem;
            right: 0;
            padding: .5rem 1rem;
            font-size: 1rem;
            font-weight: 300;
            text-decoration: none;
            color: $black;
            background-color: $beige-2;
        }
    }
}

.navegation-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 6rem .5rem;
    height: 100vh;
    background-color: $gray;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    a {
        text-decoration: none;
        color: $white;
        font-weight: 100;
        font-size: 1.2rem;

        &:first-child {
            display: flex;
            align-items: center;
            gap: .5rem;
            font-size: 1.1rem;

            ng-icon {
                font-size: 1.8rem;
            }
        }

        &:first-child,
        &:nth-child(2) {
            color: $beige-2;
        }
    }

    @media (min-width: 768px) {
        display: none;
    }
}

@media (min-width: 768px) {
    main {
        header {

            .header-left {
                display: flex;
                align-items: center;
                gap: 1rem;

                div {
                    .header-left__menu {
                        display: none;
                    }
                }

                .navegation {
                    display: flex;
                    gap: 1rem;

                    a {
                        color: $white;
                        text-decoration: none;
                        font-size: .9rem;
                        font-weight: 100;
                        transition: color .5s ease;

                        &:first-child {
                            color: $beige-2;
                        }

                        &:hover {
                            color: $beige-2;
                        }
                    }
                }
            }

            .header-right {
                display: flex;
                align-items: center;
                gap: 1rem;

                .header-right__login {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    color: $beige-2;
                    text-decoration: none;

                    ng-icon {
                        font-size: 2rem;
                        color: $beige-2;
                    }
                }

                .btn {
                    display: block;
                    padding: .5rem;
                    background-color: $beige-2;
                    color: $black;
                    text-decoration: none;
                    font-size: .8rem;
                    transition: background-color .4s ease;

                    &:hover {
                        background-color: $white;
                    }
                }
            }
        }

        .banner {
            margin: auto 4rem;

            h3 {
                font-size: 1rem;
            }

            h2 {
                font-size: 3.5rem;
                max-width: 30rem;
            }

            a {
                position: static;
                align-self: flex-start;
                color: $white;
                background-color: transparent;
                border: 1px solid $white;
                padding: .7rem 2rem;
                transition: background-color .3s ease;

                &:hover {
                    background-color: $white;
                    color: $beige-2;
                }
            }
        }
    }

}

@media (min-width: 1440px) {
    main {
        min-height: 80vh;
        padding: 0 1rem;

        header {
            padding: 2rem 1rem;

            .header-right {

                .header-right__networks {
                    gap: 1rem;

                    ng-icon {
                        font-size: 1.3rem;

                        &:last-child {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }

        .banner {
            margin: auto 14rem;

            h3 {
                font-size: 1.5rem;
                font-weight: 100;
            }

            h2 {
                font-size: 4.5rem;
                max-width: 40rem;
                margin: 0 0 3rem;
            }

            a {
                padding: 1rem 2.5rem;
            }
        }
    }
}