<main>
    <header>
        <section class="header-left">
            <div>
                <div class="header-left__menu" (click)="hendleMenu()">
                    <ng-icon name="matMenu" class="matMenu"></ng-icon>
                </div>
                <div class="header-left__headset">
                    <img src="pngwing.com.png"/>
                </div>
                <h1>Running Club Parma</h1>
            </div>

            <nav class="navegation">
                <a href="#">Conoscici</a>
                <a href="#">Cosa facciamo</a>
                <a href="#">Contatti</a>
            </nav>
        </section>

        <section class="header-right">
            <a href="#" class="header-right__login">
                <ng-icon name="heroUserCircleSolid"></ng-icon>
                Login
            </a>

            <a href="#" class="btn">Bottone</a>
            <div class="header-right__networks">
                <a href="https://www.instagram.com/runningclubparma?igsh=emdyYnVweDc1N2t5" target="_blank">Seguici su Instagram!</a>
                <ng-icon name="bootstrapInstagram"></ng-icon>
            </div>
        </section>
    </header>

    <section class="banner" style="color:#fcfcfc;">
        <h2>Noi siamo il primo running club di Parma!</h2>
        <a href="#">Altro pulsante</a>s
    </section>
</main>

<nav class="navegation-mobile" appHendleMenu [valueMenu]="menu">
    <a href="#">
        <ng-icon name="heroUserCircleSolid"></ng-icon>
        Login
    </a>
    <a href="#">Bacheca eventi passati.</a>
    <a href="#">Eventi in programma.</a>
    <a href="#">Altro...</a>
</nav>