<section>
    <div class="benefits container">
        <hr class="line" />
        <h1 style="padding:20px; text-align:center">Chi siamo e cosa facciamo:</h1>
        <div class="benifits-box">
            <h3 class="benefits__title">Il Running Club Parma</h3> 
            <p class="benefits__text">E' nato dall'idea di creare un gruppo in cui si uniscono due aspetti importantissimi della vita: attività fisica e socialità. Nelle nostre sessioni di corsa ci dividiamo in gruppi 
                di diverso livello in base al passo. Questo per dare la possibilità a chi vuole iniziare a correre, di approcciarsi nel modo migliore; e a chi corre di già di tenere il passo che desidera.
                Ma non siamo solo corsa, organizziamo anche uscite fuoriporta (camminate, e attività sportive di ogni tipo). 
                Abbiamo una partnership con saucony, con cui organizziamo eventi ...  
                 </p>
        </div>
        <div>
            <div style="text-align: center"><h3>Unisciti a noi!</h3></div>
            <p style="text-align: center;  line-height: 1.5;display: inline-block;vertical-align: middle;">Ora che sai cosa facciamo non c'è motivo per non unirti a noi, seguici sui social per tenerti informato sulle nostre attività!</p>
        </div>
    </div>
</section>
