<section>
    <div class="container">
        <div class="title" style="font-size:30px;"><h1>I nostri appuntamenti!</h1></div>
        <div class="benifits-box paragraph">
            <div class="title"><h3 class="benefits__title">Ci troviamo tutti i Mercoledì per la nostra "Easy run"</h3></div>
            <p class="benefits__text">Nel nostro incontro del mercoledì ci troviamo in un posto sempre diverso, a Parma stessa o provincia. Ci dividiamo in gruppi, per soddisfare le esigenze di tutti: da chi corre in estrema tranquillità a chi si allena regolarmente e vuole mantenere un passo più elevato. Ogni gruppo ha un pacer, che tiene il passo e guida il gruppo lungo l'itinerario scelto.  </p>
        </div>
        
        <div class="paragraph">
            <div class="title"><h3>NON SOLO RUNNERS.</h3></div>
            <p>Oltre al nostro appuntamento principale, organizziamo anche gite fuoriporta con tante attività interessanti, come escursioni e gite in generale. Adesso che sai questo, hai sempre meno motivi per non unirti a noi! </p>
        </div>
    </div>

</section>